body {
    background-image: url("../assets/images/galaxy.jpg");
    text-align: center;
    font-size: larger;
}

img {
    width: 300px;
}

#results {
    display: flex;

}

.planets {
    align-items: center;
    width: 20%;
}

.container {
    border-style: solid;
    background-color: darkblue;
    color: aliceblue;
    margin: 20px;
    padding: 20px;
}

#start {
    margin-left: auto;
    margin-right: auto;
}

#Earth {
    display: flex;
    flex-direction: column;
}